@keyframes glitter {
    0% {
        opacity: 0;
        transform: translateY(-1000%);
    }
    50% {
        opacity: 2;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(1000%);
    }
}
.glitter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.glitter img {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    animation: glitter 5s linear infinite; /* Slowed down animation duration */
}

.glitter img:nth-child(1) {
    top: 10%;
    left: 10%;
    animation-duration: 6s; /* Variation in duration for this image */
}

.glitter img:nth-child(2) {
    top: 20%;
    left: 20%;
    animation-duration: 8s; /* Variation in duration for this image */
}
.glitter img:nth-child(3) {
    top: 30%;
    left: 30%;
    animation-duration: 7s; /* Variation in duration for this image */
}

.glitter img:nth-child(4) {
    top: 40%;
    left: 40%;
    animation-duration: 5s; /* Variation in duration for this image */
}

.glitter img:nth-child(5) {
    top: 50%;
    left: 50%;
    animation-duration: 20s; /* Variation in duration for this image */
}

.glitter img:nth-child(6) {
    top: 60%;
    left: 60%;
    animation-duration: 7s; /* Variation in duration for this image */
}

.glitter img:nth-child(7) {
    top: 70%;
    left: 70%;
    animation-duration: 6s; /* Variation in duration for this image */
}

.glitter img:nth-child(8) {
    top: 80%;
    left: 80%;
    animation-duration: 7s; /* Variation in duration for this image */
}
.glitter img:nth-child(9) {
    top: 90%;
    left: 90%;
    animation-duration: 5s; /* Variation in duration for this image */
}

/* Add more img:nth-child() rules for additional glitter images with varied durations */

/* Example glitter image styles */
.glitter img {
    width: 50px;
    height: 50px;
}
.glitter img:nth-child(5) {
     width: 200px;
     height: 200px;
}